*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header{
	background: url(../images/bara.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
}
/*Css for header*/
/*nav bar*/

nav{
	height: 75px;
	border-bottom: 2px solid #096b79;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;

}

/*styling for all buttons*/

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border:none;
}

.btn-product{
	font-size: 15px;
	font-width:bold;
	transition: .3s;
	background: rgb(148,187,233);
	background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(148,233,161,0.8407738095238095) 100%);
	color: white;
}

#baraBtn{
	position: absolute;
	right: 100px;
	top:10px;
}

#baraBtn:hover{
	top:15px;
	background: rgb(148,187,233);
	background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(2,52,91,0.8407738095238095) 100%);
}

/*disappearing menu*/
.submenu{
	background-color: #0cf0cf;
	width:80%;
	border-radius: 15px;
	height: 200px;
	display:flex;
	position: absolute;
	left:10%;
	top:50px;
	visibility: hidden;
}

.submenu > div{
	width: 25%;
}

div + div {
	border-left: 1px solid black;
}

div > h4, .submenu > div > p {
	margin:10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: darkgray;
}

.header-text{
	height: 90vh;
	width:50%;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1{
	font-size: 70px;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
}



/*End of Css for header*/

/*Strart of quote css*/

.quote{
	height:50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width:50%;
}

.quote > div >div {
	text-align: center;
	margin-top: 20px;
}

/*end of quote css*/

/*start of sec3 css*/



/*end of sec3 css*/


/*sample*/
/*
.sample{
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.sample-div{
	height: 350px;
	background-color: lightgray;
	width:100%;

}

.sample-bottom > div{
	width: 50%;
	display: flex;
}

.sample-bottom h1{
	font-size: 45px;
}

.sample-bottom span{
	font-size: 20px;
	position: relative;
	bottom:25px;
}*/



/*final*/

.section3 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.section3 > section {
	width:50%;
}

.sec3-left{
	text-align: right;
}

.section3 img {
	width: 550px;
	height: 300px;
}

.sec3-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.sec3-right > div {
	height: 300px;
	padding-right: 50px;
}

.sec3-right > div > div > p {
	color: gray;
	margin-bottom: 10px;
}

.sec3-right > div > div > h3 {
	font-size: 30px;
}

.sec3-right-bot {
	display: flex;
}

.sec3-right-bot > div {
	width: 50%;
}

.sec3-right-bot > div > h1 {
	font-size: 60;
}

.sec3-right-bot > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 10px;
}

.sec3-right-bot > div > p {
	font-size: 12;
	color: gray;
}

/*Activity*/

.activity{
	text-align: center;
	height: 100vh;
	margin: 50px;
}

.box{
	border: 1px solid gray;
	background-color: lightblue;
	width: 20vw;
	border-radius: 20px;
	height: 50vh;
}

.box:hover {
	box-shadow: 10px 14px 5px 0px rgba(0,0,0,0.75);
	top:115px;
}
}

.box p{
	margin: 30px;
	text-align: center;
}

.box hr{
	position: relative;
	top:50px;
}

.box > div{
	text-align: center;
}

.box h2{
	margin: 30px;
}

.box img {
	height: 60px;
	width: 60px;
	border-radius: 50px;
	z-index: 1000;
	position: relative;
	top:30px;
}

.main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60vh;
	margin: 50px 0;
}
/*.sec4-act{
	height: 100vh;
}

.sec4-act > .maindiv1{
	text-align: center;
	position:relative;
	top:80px;
}

.maindiv1 > h1{
	font-size: 45px;
	margin:10px;
}

.maindiv2 {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	margin: auto;
}

p{
	margin-bottom: 10px;
}



/*.maindiv1{
	align-items: center;
	height: 30vh;
	display: flex;
	justify-content: center;
	text-align: center;
}

.maindiv1 > p{
	align-items: center;
	height: 100vh;
	justify-content: center;
	text-align: center;*/   

/*}

.maindiv2{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}
*/
/*.maindiv3, .maindiv4, .maindiv5 {
	border: .5px solid gray;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	padding: 0 100px;
	margin: auto;
	text-align: center;

}

.maindiv3{
	left:150px;
	top:110px;
}

.maindiv4{
	left:200px;
	top:110px;
}

.maindiv5{
	left:250px;
	top:110px;
}

.maindiv-top{
	height:80%;
	border-bottom: 1px solid gray;
}

.maindiv-top > p{
	text-align: center;
}

.maindiv-top > div{
	align-items: center;
	text-align: center;
	top:80px;
	margin:0 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.maindiv-bot{
	height: 20%;
}

.maindiv3:hover, .maindiv4:hover, .maindiv5:hover{
	transition: .6s;
	box-shadow: 0 10px 10px black;
	bottom: 10px;
}

.sec4-act img{
	width:50px;
	height: 50px;
	border-radius: 100px;
	top:200px;
	left:125px;


}*/

/*.maindiv3-bot{
	align-items: center;
	justify-content: center;
	display: flex;
}*/
